    <section id="createForm">
        <h3>Create Account</h3>

            <lable for="email">Email</lable><br>
            <input type="text" id="email" name="email"><br>
            <br>
            <lable for="password">Password</lable><br>
            <input type="password" id="password" name="password"><br>
            <br>
            <lable for="passwordConf">Password again</lable><br>
            <input type="password" id="passwordConf" name="passwordConf"><br>
            <br>
            <input type="submit" value="Create Account">
        </form>
        <p> have an account? <span><a href="/login">Log In</a></span></p>