* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Merriweather', serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


header {
    padding: .5rem 5rem;
    height: 15vh;
    /* box-shadow: 0px 5px 10px #00797e; */
}

header * {
    display: inline-block;
}

header img {
    height: 100px;
}

nav {
    float: right;
    padding: 2rem 0
}

nav li {
    color: white;
    margin: .75rem;
    font-size: 1.1rem;
}

nav li:hover {
    color: darkslategrey;
}

nav li a {
    display: block;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 5px;
}

img {
    height: auto;
    width: 100%;
}

main {
    min-width: 60%;
    /* max-width: 100rem; */
    height: 80vh;
    margin: 2rem auto;
    overflow-y: auto;
}

main a, main input[type=submit] {
    border: 1px solid #000;
    border-radius: 5px;

    background-color: #ebc92c;

    display: inline-block;
    padding: .25rem;
    margin: 1rem 0;
    width: 100%;
}


#loginForm, #createForm {
    max-width: 25rem;
    margin: 0 auto;
    padding: 1rem;

    text-align: center;
}

#loginForm > form, #createForm > form {
    padding: 1rem;
    margin: 2rem 1rem;
    box-shadow: 0px 5px 10px #00797e;

    text-align: left;
    background-color: #dbdbdb;
}

#loginForm input[type=text], #createForm input[type=text], #loginForm input[type=password], #createForm input[type=password] {
    width: 90%;
    padding: 10px 5%;
    margin: .5rem 0 0 0;

    border-radius: 5px;
}

#loginForm button {
    width: 50%;
    padding: 10px 5%;
    margin: .5rem 0 0 0;

    border-radius: 5px;
}

#loginForm input[type=submit], #createForm input[type=submit] {
    font-family: 'Merriweather', serif;
}

#loginForm input[type=submit]:hover, #createForm input[type=submit]:hover {
    cursor: pointer;
}

footer {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    /* box-shadow: 0px -5px 10px #00797e; */
}

#box1 {
	background-color: white;
	border: 10px double red;
	border-radius: 10px;
	color: #365255;
	height: 650px;
	padding-top: 20px;
	position: absolute;
	left: 50px;
	text-align: center;
	top: 250px;
	width: 360px;
}

#box2 {
background-color: blue;
	border: 10px double green;
	border-radius: 15px;
	color: #365255;
	height: 650px;
	padding-top: 20px;
	position: absolute;
	right: 50px;
	text-align: center;
	top: 250px;
	width: 360px;